<div class="delete-full-container">
  <h2 class="confirm-delete-tl" mat-dialog-title>Confirmation</h2>
  <mat-dialog-content class="msg-confirm">
    Are you sure you want to update your nickname?
  </mat-dialog-content>
  <mat-dialog-actions class="confirm-btns">
    <button class="confirm-main-button" mat-button [mat-dialog-close]="true">
      Yes
    </button>
    <button class="confirm-cancel-button" mat-button [mat-dialog-close]="false">
      No
    </button>
  </mat-dialog-actions>
</div>
