<div class="register-user-form-container">
    <form [formGroup]="form" (ngSubmit)="createUser()" class="register-user-form">
        <div>
            <div class="titulo">Sign Up</div>
            <mat-form-field appearance="fill" class="user-name">
                <input matInput formControlName="NAME_IN" autocomplete="off" placeholder="Name" required>
                <mat-hint class="hint" *ngIf="isInvalidField('NAME_IN')"> {{ fieldValidators.errorByField('NAME_IN') }} </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="user-lastname">
                <input matInput formControlName="LASTNAME_IN" autocomplete="off" placeholder="Lastname" required>
                <mat-hint class="hint" *ngIf="isInvalidField('LASTNAME_IN')"> {{ fieldValidators.errorByField('LASTNAME_IN') }} </mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" class="user-nickname">
                <input matInput formControlName="NICKNAME_IN" autocomplete="off" placeholder="Nickname" required>
                <mat-hint class="hint" *ngIf="isInvalidField('NICKNAME_IN')"> {{ fieldValidators.errorByField('NICKNAME_IN') }} </mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" class="user-email">
                <input matInput type="email" formControlName="EMAIL_IN" autocomplete="off" placeholder="Email" required>
                <mat-hint class="hint" *ngIf="isInvalidField('EMAIL_IN')"> {{ fieldValidators.errorByField('EMAIL_IN') }} </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="user-password">
                <input matInput type="password" formControlName="PASSWORD_IN" autocomplete="off" placeholder="Password" required>
                <mat-hint class="hint" *ngIf="isInvalidField('PASSWORD_IN')"> {{ fieldValidators.errorByField('PASSWORD_IN') }} </mat-hint>
            </mat-form-field>
        </div>
        <div class="btns-div-user">
            <button mat-button class="cancel-button" [routerLink]="['/login']">Cancel</button> 
            <button mat-button class="main-button" type="submit" (click)="createUser()">Create</button>

        </div>
    </form>
</div>
