<div class="solution-container">
    <div class="solution-right-part">
        <p class="solution-text">
            <strong>Listify</strong> is the ultimate solution for individuals facing 
            the challenge of <strong>ADHD (Attention Deficit Hyperactivity Disorder)</strong>. 
            Our task management application is specifically designed for young 
            adults aged 18 to 29 with this condition. 
            Listify incorporates a gamification module 
            in the frontend that enhances motivation and commitment in 
            managing daily tasks. With an intuitive and attractive user 
            interface, we focus on usability and the user experience, 
            simplifying and improving the planning and organization of 
            daily activities.
        </p>
    </div>
    <div class="solution-image">
        <img src="../assets/img/adhd-image.svg" alt="">
        <hr class="solution-line">
    </div>
</div>