
<div class="home-container">
    <div class="home-left-part">
        <p class="home-text">
            Specifically designed for young adults aged 18 to 29, 
            Listify is an innovative task management application that will 
            transform the way you plan and organize your daily activities. 
            With a gamification system in the frontend, Listify motivates and 
            engages users, especially those with ADHD, to track their tasks. Our 
            intuitive and appealing user interface ensures an exceptional user 
            experience, simplifying planning and organization.
        </p>
    </div>
    <div class="home-image">
        <img src="../assets/img/home-image.svg" alt="">
    </div>
</div>